<li class="list-row bg-gray-50" id="<%= dom_id(short_link) %>" data-controller="fade" data-animated="false">
  <div id="short_link_preview_short_link_id_<%= short_link.id %>">
    <%= render partial: "shared/link_preview", locals: { short_link: short_link } %>
  </div>
  <div class=""><%= short_link.original_url %></div>
  <div>
    <%= render partial: "shared/copy_button", locals: { short_link: short_link } %>
  </div>
  <div class="">
    [ <%= link_to short_viewer_path(short_link.shortcode),
                   target: "_blank",
                  class: "link link-hover",
                   data: { turbo: false } do %>
      <%= short_link.shortcode %>
    <% end %>
    ] <%= render partial: "short_links/link_count", locals: { short_link: short_link } %>
  </div>
  <div>
    <%= link_to "Stats", short_link_stats_path(short_link), class: "btn btn-info btn-xs" %>
  </div>
  <div>
    <%= button_to "Delete", short_link, class: "btn btn-warning btn-xs",
                  method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </div>
</li>